aws_region: us-west-2

# If you choose to set specifically, ENV variables are usable
aws_access_key: aws-access-key
aws_secret_key: aws-secret-key
pathkeys: "$USER/test2/playbook/keys/private/RINO_OHIO.pem"
sshcfgpath: "/Users/restaurador/violeta/repos/rino/aws/test2/playbook/ssh.cfg"
user: ec2-user
